<div *ngIf="event">
  <div class="modal-header">
    <h4 class="modal-title">{{event.name}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>

  <div *ngIf="!isEditing">
    <div class="modal-body">
      <div>{{event.dp | date}}</div>
      <div>{{event.name}}</div>
      <div>{{event.description}}</div>
      <div>{{event.invite}}</div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary m-1" (click)="onEditEventClick()">Edit</button>
      <button type="button" class="btn btn-outline-danger m-1"
              (click)="onDeleteEventClick(event);
              activeModal.close('Close click')">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
             viewBox="0 0 16 16">
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
      </button>
    </div>
  </div>

  <div *ngIf="isEditing">
    <div class="modal-body">
      <form #form="ngForm" class="text-center w-50">

        <div class="form-floating mb-3 d-flex">
          <input id="dateOfEvent" class="form-control" name="dp" [(ngModel)]="date" ngbDatepicker
                 #dp="ngbDatepicker">
          <label for="dateOfEvent">Date</label>
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar"
                 viewBox="0 0 16 16">
              <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
          </button>
        </div>
        <div class="form-floating mb-3">
          <input name="name" ngModel="{{event.name}}" type="text" class="form-control" id="nameOfEvent">
          <label for="nameOfEvent">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input name="description" ngModel="{{event.description}}" type="text" class="form-control"
                 id="DescriptionOfEvent">
          <label for="DescriptionOfEvent">Description</label>
        </div>
        <div class="form-floating mb-3">
          <input name="invite" ngModel="{{event.invite}}" type="text" class="form-control" id="inviteEmail">
          <label for="inviteEmail">Invite</label>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary m-1" (click)="onBackEventClick()">Go Back</button>
      <button type="button" class="btn btn-outline-primary m-1"
              (click)="onSaveEventClick(event, form);
              activeModal.close('Close click')">
        Save
      </button>
    </div>
  </div>

</div>
