<div class="modal-header">
  <h4 class="modal-title">Create an Event</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form #form="ngForm" class="text-center w-50">

    <div class="form-floating mb-3">
      <input id="dateOfEvent" class="form-control" name="dp" ngModel ngbDatepicker #dp="ngbDatepicker">
      <label for="dateOfEvent">Date</label>
      <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg>
      </button>
    </div>

    <div class="form-floating mb-3">
      <input name="name" ngModel type="text" class="form-control" id="nameOfEvent">
      <label for="nameOfEvent">Name</label>
    </div>

    <div class="form-floating mb-3">
      <input name="description" ngModel type="text" class="form-control" id="DescriptionOfEvent">
      <label for="DescriptionOfEvent">Description</label>
    </div>

    <div class="d-flex justify-content-around">
      <button type="submit" class="btn btn-outline-primary">Create</button>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
    (click)="onCreateEventClick(form); activeModal.close('Close click')"
  >Save
  </button>
</div>
